/dts-v1/;

/ {
  #address-cells = <2>;
  #size-cells = <2>;
  compatible = "ucbbar,spike-bare-dev";
  model = "ucbbar,spike-bare";
  chosen {
    stdout-path = &SERIAL0;
    bootargs = "console=hvc0 earlycon";
  };

  cpus {
    #address-cells = <1>;
    #size-cells = <0>;

     timebase-frequency = <10000>;

    CPU0: cpu@0 {
      device_type = "cpu";
      reg = <0>;
      status = "okay";
      compatible = "riscv";
      riscv,isa = "rv32ima";
      mmu-type = "riscv,sv32";

      clock-frequency = <40000000>;

      CPU0_intc: interrupt-controller {
        #interrupt-cells = <1>;
        interrupt-controller;
        compatible = "riscv,cpu-intc";
      };
    };
  };
  memory@80000000 {
    device_type = "memory";
    reg = <0x0 0x80000000 0x0 0x10000000>; 
 
  };
  soc {
    #address-cells = <2>;
    #size-cells = <2>;
    compatible = "ucbbar,spike-bare-soc", "simple-bus";
    ranges;
    clint@20010000 {
      compatible = "riscv,clint0";
      interrupts-extended = <&CPU0_intc 3 &CPU0_intc 7>;

      reg = <0x0 0x20010000 0x0 0xc0000>;

    };
  
    ethernet@20030000 {
     			device_type = "network";
     			compatible = "cdac,cdac_mac"; 
     			interrupt-parent = <&plic0>;
     			interrupts = <4>;
     			reg = <0x0 0x20030000 0x0 0x100>;
  		};	

   plic0: interrupt-controller@20010000 {
	#interrupt-cells = <1>;
	compatible = "cdac,plic-1.0.0";
	reg = <0x0 0x20010000 0x0 0x4000000>;
	riscv,ndev = <32>;
	interrupt-controller;
	interrupts-extended = <&CPU0_intc 9>;
    };
    
    SERIAL0: ns16550@10001000{
      compatible = "ns16550a";
      clock-frequency = <40000000>;     
      reg = <0x0 0x10001000 0x0 0x100>;
      reg-io-width = <4>;
      reg-shift = <2>;
      current-speed = <115200>;
      
    };
    spi_clock:spi_clock{
			#clock-cells = <0>;
			compatible = "fixed-clock";
			clock-frequency = <40000000>;
		};
		
		spi0: spi@10000600 {
			compatible = "cdac,spi";
			clock-names = "spi_clock";
			clocks = <&spi_clock>;
			interrupt-parent = <&plic0>;
			interrupts = <6>;
			reg = <0x0 0x10000600 0x0 0x100 >;	
			#address-cells = <1>;
			#size-cells = <0>;
			spidev@0 {
				compatible = "cdac,spidev";
				reg = <0>;
				spi-max-frequency = <25000000>;
			};
		};
		gpio0: gpio-controller@10080000 {
			compatible = "cdac,cdac-gpio";
			reg = <0x0 0x10080000 0x0 0x50000>;
			gpio-base = <0>;
			gpio-controller;
			#gpio-cells = <2>;
		};
		
		gpio1: gpio-controller@10180000 {
			compatible = "cdac,cdac-gpio";
			reg = <0x0 0x10180000 0x0 0x50000>;
			gpio-base = <16>;
			gpio-controller;
			#gpio-cells = <2>;
		};
		
		i2c0: i2c@10000800 {
            		compatible = "cdac,mdp-i2c";
            	clock-frequency = <100000>;
           	 system-frequency = <40000000>;
            	#address-cells = <1>;
            	#size-cells = <0>;
            	reg = <0x0 0x10000800 0x0 0x100>;
            	interrupt-parent = <&plic0>;
            	interrupts = <8>;
            	status = "okay";
        };
    
       	 i2c1: i2c@10000900 {
            	compatible = "cdac,mdp-i2c";
            	clock-frequency = <100000>;
           	 system-frequency = <40000000>;
            	#address-cells = <1>;
          	  #size-cells = <0>;
          	  reg = <0x0 0x10000900 0x0 0x100>;
          	  interrupt-parent = <&plic0>;
           		 interrupts = <9>;
           	 status = "okay";

        };
        pwm_clock:pwm_clock{
            #clock-cells = <0>;
            compatible = "fixed-clock";
            clock-frequency = <40000000>;
        };
        pwm0: pwm@10400000 {
            compatible = "cdac,cdac-pwm";
            clock-names = "pwm_clock";
                clocks = <&pwm_clock>;
            reg = <0x0 0x10400000 0x0 0x100>;
            #pwm-cells = <3>;
            
        };
    
	


 };
 
 
 };
 
/*
    spi1: spi@30006000 {
        compatible = "xlnx,axi-quad-spi-3.2";
        reg = <0x0 0x30006000 0x0 0x100>;
        interrupt-parent = <&plic0>;
        interrupts = <7>;    
        spi-max-frequency = <25000000>;

        #address-cells = <1>;
        #size-cells = <0>;

        spidev@0 {
            compatible = "rohm,dh2228fv"; 
            reg = <0>;
            spi-max-frequency = <25000000>;
        };
    };


    i2c2: i2c@30001000 {
        compatible = "cdac,mdp-i2c";
        reg = <0x0 0x30001000 0x0 0x100>;
        interrupt-parent = <&plic0>;
        interrupts = <10>;   

        clock-frequency = <100000>;
        system-frequency = <40000000>;

        #address-cells = <1>;
        #size-cells = <0>;
        status = "okay";
    };
*/
 
 
 

